.admission-section{
    padding: 2vw 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
}
.admission-section img {
    width: 45%;
    height: 30vw;
    border-radius: 10px;
}
.admission-section .content {
    width: 50%;
    font-size: 15px;
}

.admission-section .content ul {
    list-style: disc;
}

.content ul li {
    margin: 8px 0vw;
    color:rgb(65, 63, 63);
    font-size: 1em;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 0.3vw;
}
.registration-section{
    margin-top: 5vw;
    background-color: rgb(217, 229, 239);
    padding: 2vw 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}
.registration-section img{
    width: 45%;
    height: 30vw;
    border-radius: 10px;
}
.registration-section .content {
    width: 50%;
    font-size: 15px;
}

@media (max-width: 768px) {
    .admission-section {
        padding: 2vw 5vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .admission-section img {
        width: 100%;
        height: 30vh;
        border-radius: 10px;
    }
    .admission-section .content {
        width: 100%;
        font-size: 15px;
    }
    .registration-section{
        margin-top: 5vw;
        background-color: rgb(217, 229, 239);
        padding: 2vw 5vw;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
    }
    .registration-section img{
        width: 100%;
        height: 30vh;
        border-radius: 10px;
    }
    .registration-section .content {
        width: 100%;
        font-size: 15px;
    }
}
